<div class="chatDiv container h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="row h-100"></div>

    <div class="py-1 mt-5" id="messagesListContainer">
        <div id="messagesList" style="max-height: 500px; overflow-y: auto;">
        </div>
    </div>

    <div class="mt-5 chatBox">
        <label for="message">Chat Socket</label>
        <input type="text" name="message" id="message" />
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
