
  <section id="chat">
    <div class="d-grid gap-2">

  <button class="btn btn-danger  btn-sm" id="chat-btn-logout" >Desconectarse</button>
    </div>
    <ul id="messages"></ul>
    <form id="form">
      <input type="text" name="message" id="input" placeholder="Type a message" autocomplete="off" />
      <button type="submit">Enviar</button>
    </form>
  </section>
  <img src="" alt="">

<script src="/socket.io/socket.io.js"></script>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/js/chat.js"></script>
