
  <body>
    <!-- Display a payment form -->
      <div id="checkout">
        <!-- Checkout will insert the payment form here -->
      </div>
  </body>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="checkout.js" defer></script>