<main>
  <div class="bienvenida">
    <h1>Bienvenido a nuestro e-commerce</h1>
    <h2>Aquí puedes Restablecer tu Contraseña</h2>
  </div>

  <div class="container d-flex flex-row w-20">
    <form id="resetPasswordForm" class="bg-primary-subtle p-4 rounded" method="POST" action="/api/users/reset-password" >
      <input type="hidden" name="token" value="{{token}}" />
      {{#if expired}}
      <h3>Token Expirado: debes solicitar uno nuevo</h3>
        <div class="container mt-4">
        <a href="/" class="btn btn-secondary" id="btn-chat">Volver al Inicio <i class="bi bi-house"></i></a>
      </div>
      {{else}}
        <div class="mb-3">
            <div class="form-group">
            <label for="newPassword"class="form-label">Nueva Contraseña</label>
            <div class="input-group">

            <input type="password" placeholder="" name="newPassword" id="newPassword" class="form-control toggle-password" required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button">
                <i class="bi bi-eye"></i>
              </button>
            </div>
            </div>
            <div class="form-group mt-4">
            <label for="confirmPassword"class="form-label">Confirmar Nueva Contraseña</label>
            <div class="input-group">

            <input type="password" placeholder="" name="confirmPassword" id="confirmPassword" class="form-control toggle-password" required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button">
                <i class="bi bi-eye"></i>
              </button>
            </div>
            </div>
        </div>
      <div class="flex mt-4">
        <a href="/" class="btn btn-secondary" id="btn-chat">Ir al Inicio <i class="bi bi-house"></i></a>
        <button type="submit" class="btn btn-primary">Restablecer Contraseña <i class="bi bi-check-lg"></i></button>
      </div>
    {{/if}}
    </form>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="/js/resetPassword.js"></script>
