<main>
  <div class="bienvenida">
    {{!-- hero --}}
    <div class="container position-relative mt-4 bg-dark rounded-4 p-2 rrShadow mb-5">
      <div class="position-absolute top-2 start-0 rounded-4 ms-3 hero-image">
        <a href="/">
              <img src="img/warriorRR.png" class="rounded-4" style="width: 100px; height: 100px;" alt="logo e-commerce">
        </a>
      </div>
      <div class="mensaje  text-center">
        <h1 class="text-center">Restablecimiento de contraseña</h1>
        <h2> Ingresa tu nueva contraseña</h2>
      </div>
      <div class="position-absolute top-2 end-0 rounded-4 me-3 hero-image">
        <a href="/">
              <img src="img/warriorRR.png" class="rounded-4" style="width: 100px; height: 100px;" alt="logo e-commerce">
        </a>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-row w-20 mt-5">
    <form id="resetPasswordForm" style="background-color: rgb(134, 176, 194);" class=" p-4 rounded rrShadow" method="POST" action="/api/users/reset-password" >
      <input type="hidden" name="token" value="{{token}}" />

{{#if inValidToken}}
      <h3>Token No validado: debes solicitar uno nuevo</h3>
        <div class="container mt-4">
        <a href="/" class="btn btn-secondary" id="btn-chat"><i class="bi bi-house me-2"></i>Volver al Inicio </a>
      </div>
      {{else}}

      {{#if expired}}
      <h3>Token Expirado: debes solicitar uno nuevo</h3>
        <div class="container mt-4">
        <a href="/" class="btn btn-secondary" id="btn-chat"><i class="bi bi-house me-2"></i>Volver al Inicio </a>
      </div>
      {{else}}
        <div class="mb-3">
            <div class="form-group">
            <label for="newPassword"class="form-label fw-bold">Nueva Contraseña</label>
            <div class="input-group">

            <input type="password" placeholder="" name="newPassword" id="newPassword" class="form-control toggle-password" required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button">
                <i class="bi bi-eye"></i>
              </button>
            </div>
            </div>
            <div class="form-group mt-4">
            <label for="confirmPassword"class="form-label fw-bold">Confirmar Nueva Contraseña</label>
            <div class="input-group">

            <input type="password" placeholder="" name="confirmPassword" id="confirmPassword" class="form-control toggle-password" required>
              <button class="btn btn-outline-secondary toggle-password-btn" type="button">
                <i class="bi bi-eye"></i>
              </button>
            </div>
            </div>
        </div>
      <div class="flex mt-4">
        <a href="/" class="btn btn-secondary" id="btn-chat"><i class="bi bi-house me-2"></i>Ir al Inicio </a>
        <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg me-2"></i>Restablecer Contraseña </button>
      </div>
    {{/if}}
    {{/if}}
    </form>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="/js/resetPassword.js"></script>
