body{
    background-color:cadetblue;
}
h1 {
    color: blue
}
h2 {
    color: yellow;
}
h3 {
    color: green;
}
p{
    color: rgb(55, 62, 69);
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#newProdDetails{
  background-color: rgb(143, 167, 191);
}
#editBoxTitle{
  margin-bottom: 1rem;
}

.detail-item{
  font-weight: bolder;
}
#newProdFileNames{
  margin-bottom: 1rem;
}
.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  
.lbl-switch{
  display: inline-block;
  width: 55px;
  height: 30px;
  background: #d35353;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
#btn-switch:checked~ .lbl-switch{
  background: #4bc44e;
}
.lbl-switch:after{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}
#btn-switch{
  display: none;
}

#btn-switch:checked~ .lbl-switch::after{
left: 28px;
}

  .thumbnail-display-area {
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .thumbnail-display-area img {
    /* position: absolute; */
  /* top: 50%;
  left: 50%; */
    /* max-width: 100%; */
    /* max-height: 200px; */
    margin-bottom: 10px;
    height: 200px;
    /* width: auto;  */
    overflow: hidden;

  }
  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: auto;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .thumbnail:last-child {
    margin-right: 0;
  }
  
  .main-image-path{
    width: 300px;
  }
  input, #newProdDescription{
    width: 250px;
  }



#messagesListContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
}
