body {
  /* position: relative; */
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/blueFlames.png');
  background-position: center;
  background-size:cover;
  background-repeat: repeat-y;
  filter: blur(0px) brightness(0.7);
  z-index: -1; 
}


h1 {
    color: rgb(148, 148, 239)
}
h2 {
    color:gold;
}
h3 {
    color: green;
}
p{
    color: rgb(55, 62, 69);
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.btn{
  border: rgb(44, 44, 44) 1px solid;
}

.pagination{
  width:100%;
}

.pagination .page-link {
  background: #213547;
  color: white;
}

.adminProdCard{
  background-color: rgb(143, 167, 191);
}

.rrPrimaryBG{
  background-color: #213547df;
}

.rrShadow{
  box-shadow:  0px 0px 80px 50px  rgba(64, 121, 177, 0.8);
}

.hero-image {
  width: 100px;
  height: 100px;
}

#editBoxTitle{
  margin-bottom: 1rem;
}

.detail-item{
  font-weight: bolder;
}
#newProdFileNames{
  margin-bottom: 1rem;
}
.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #3f3f3f;
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
    width: 280px;
  }
  .prodName{
    height: 3rem;
    font-size: 1.25rem;
  }
  .card-price{
    font-size: 1.5rem;
    justify-content: center;
  }
.lbl-switch{
  display: inline-block;
  width: 55px;
  height: 30px;
  background: #d35353;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}
#btn-switch:checked~ .lbl-switch{
  background: #4bc44e;
}
.lbl-switch:after{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 100px;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}
#btn-switch{
  display: none;
}

#btn-switch:checked~ .lbl-switch::after{
left: 28px;
}




.edit-detail-title{
  height: 3.5rem;
}


.thumbnail-display-area {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 270px; 
  width: 100%;
  
}

.main-image {
  max-height: 99%;
  max-width: 99%;
  object-fit: contain; 
}

  
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: auto;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .thumbnail:last-child {
    margin-right: 0;
  }
  
  .main-image-path{
    width: 300px;
  }
  input, #newProdDescription{
    width: 250px;
  }



#messagesListContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
}




.frame-container{
  background-color: #ffffff;
  width: 220px;
  height: 230px;
  box-shadow: 0 20px 35px rgba(0,0,0,0.05);
  border-radius: 7px;
}
.image-container{
  width: 90%;
  max-height: 150px;
  /* margin: 0 auto 30px auto; */
}
.image-container img{
  display: block;
  /* position: relative; */
  max-width: 100%;
  max-height: 300px;
  margin: auto;
}
figcaption{
  /* margin: 20px 0 30px 0; */
  text-align: center;
  color: #2a292a;
}
.input-file{
  display: none;
}
.img-label{
  display: block;
  position: relative;
  background-color: #025bee;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  width: 300px;
  /* padding: 18px 0; */
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}
.elimina-doc{
  position: relative;
  /* position: fixed; */
  top: 1rem;
  border-radius: 100%;
  z-index: 999;

}


.upload{
  width: 150px;
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 100%;
  border: 2px solid #eaeaea;
  width: 150px;
  height: 150px;
  /* overflow: hidden; */

}

.upload .round{
  /* position: absolute;
  bottom: 0;
  right: 0; */
  background: #0048ff;
  width: 2.5rem;
  height: 2.5rem;
  /* padding: auto; */
  /* line-height: 33px; */
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

.img-profile-label{
  background-color: none;
}

.img-profile-delete{
  /* position: relative;
  left: -4rem; */
  width: 2.5rem;
  height: 2.5rem;
}

.profile-preview{
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.profile-img-btns{
  margin-top: -1.5rem;
}


.accomplish-icon {
  font-size: 1.5rem;
}
.accomplish-icon-check {
  color: green;
}
.accomplish-icon-cross {
  color: red;
}


table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: #dcc25b; /* Color de fondo para filas impares */
}

/* Estilo para las filas pares */
table tr:nth-child(even) {
  background-color: #e2d294; /* Color de fondo para filas pares */
}
th, td {
  text-align: left;
  padding: 8px;
}
th{
  font-size: 1.5rem;
  background-color:darkkhaki;
}
th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), th:nth-child(8),
td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
  text-align: center;
}

td{
  border: #2a292a, 1px, solid;
  border-radius: 4px;
}
td:nth-child(2), td:nth-child(1) {
  width: 20%;
}
td:nth-child(8) {
  width: 15%;
}
td:nth-child(1), td:nth-child(3) {
  font-weight: bold;
}
td:nth-child(3){
  text-transform: uppercase;
}

.clickable-image {
  cursor: pointer;
}

#modalImage {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.table-tickets {
  width: 80%;
  border-collapse: collapse;
}

.table-tickets tr:nth-child(odd) {
  background-color: #ede6d9; 
}

.table-tickets tr:nth-child(even) {
  background-color: #decbb0; 
}

.table-tickets th, .table-tickets td {
  text-align: center;
  padding: 10px;
}

.table-tickets th {
  font-size: 1.4rem;
  background-color: #c2a56b; 
  color: #fff; 
}


.table-tickets td:nth-child(2), .table-tickets td:nth-child(1) , .table-tickets td:nth-child(3) {
  width: 27%;
}
.table-tickets td {
  border: 1px solid #2a292a;
  border-radius: 4px;
}

.table-tickets td:nth-child(1), 
.table-tickets td:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
}



.details-left {
  display: flex;
  flex-direction: column;
  width: 500px;
  color: silver;
}

.itemDetailImg img {
  object-fit: contain;
  display: flex;
  align-self: center;
  width: 99%;
  height: 99%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.detail-main-image{
  height: 500px;
  border: #decbb0 1px solid;
  align-content: center;

}

.detail-main-image, .detail-main-image img{
  border-radius: 2rem;
  max-width: 500px;
  max-height: 500px;
}

.btn-secondary {
  border: none;
  margin-right: 2px;
}

.btnDetailToCart {
  background-color: orange;
}

.btnDetailToCart:hover {
  background-color: rgb(254, 180, 44);
}

.descripcionDetail h2, .descripcionDetail p, .caracteristicasDetail h3, .catacteristicasDetails {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: white;
}

.product-description p, .product-detail-item{
  font-size: 1.2rem;
  text-align: left;
  color: white;
  justify-content: left;
}



.product-detail-title{
  color: orange;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
}



.chat-messages {
  background-color:rgb(201, 205, 205);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  padding-bottom: 48px;
}

.chat-messages>li {
  padding: .5rem 1rem;
}

.chat-messages>li:nth-child(odd) {
  background: #d2cfcf;
}

#chat {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 350px;
  height: 100%;
  position: relative;
}

.message_head{
    display: flex;
    justify-content: space-between;
}

.chat-form {
  bottom: 0;
  display: flex;
  height: 48px;
  left: 0;
  padding: 4px;
  position: absolute;
  right: 0;
}

.chat-input {
  border-radius: 9999px;
  border: 1px solid #eee;
  flex: 1;
  margin: 4px;
  padding: 0 8px;
}

.chat-input:focus {
  outline: 0;
}

.chat-form>button {
  background: #09f;
  color: #fff;
  border: 0;
  margin: 4px;
  border-radius: 4px;
}

.chat-form>button:hover {
  background: #0cf;
}

small{
    font-size: smaller;
    font-weight: bold;
}